<img src="pp.png" align ="center" width="900" height="600" /><br>
<h1 align ="center" style = "color:blue"> Arrays </h1>

### <font color=blue>**Les objets "Array" en Python**</font>

Un objet **array** est une séquence de valeurs <font color="blue">**numérique ou alphanumérique**</font> qui se présentent sous forme de tableau d'une ou de plusieurs dimensions.
Python n'a pas de support intégré pour les tableaux, mais les listes Python peuvent être utilisées à la place ou bien fonction array() qui accessible depuis le module **Numpy**. il s'agit d'un module spécialisé dans le calcul scientifique en Python.
Pour pouvoir manipuler les objets array il faut alors commencer par manupiler liste aprés par importer le module NumPy.<br>
<h2 ><font color=red> I- Array et liste </font></h2>

- Cette partie vous montre comment utiliser LISTS comme ARRAYS, cependant, pour travailler avec des tableaux en Python, vous devrez importer une bibliothèque, comme la bibliothèque NumPy .

<h3>Qu'est-ce qu'un tableau ?</h3>
    
- Si vous avez une liste d'éléments (une liste de noms de voitures, par exemple), le stockage des voitures dans des variables uniques pourrait ressembler à ceci :

In [40]:
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"

Cependant, que se passe-t-il si vous voulez parcourir les voitures et en trouver une en particulier ? Et si vous n'aviez pas 3 voitures, mais 300 ?

La solution est un tableau !

- Un tableau est une variable spéciale, qui peut contenir plusieurs valeurs à la fois.
- pour declarer : **nom_array = [ valeur ]**
- l'index des tableaux toujours commencer par 0.

In [41]:
cars = ["Ford", "Volvo", "BMW"]

<h3> Accéder aux éléments d'un tableau </h3>

Vous vous référez à un élément de tableau en vous référant au numéro d'index<br>
- Pour obtenez la valeur du premier élément du tableau :

In [42]:
x = cars[0]
print(x)

Ford

<h3>Modifiez la valeur d'un élément du tableau :</h3>

- nom_tab [ index_element ] = new_value

In [43]:
cars[0] = "Toyota"

<h3>La longueur d'un tableau</h3>

- Utilisez la **len()** méthode pour renvoyer la longueur d'un tableau (le nombre d'éléments dans un tableau).

In [44]:
d = len(cars)
print(d)

3

<h3>Éléments de tableau en boucle</h3>

- Vous pouvez utiliser la **for in** boucle pour parcourir tous les éléments d'un tableau.

<h5> <font color="green"> Exemple</font></h5>
Imprimer chaque élément du cars tableau :

In [5]:
for i in cars:
  print(i)

Ford
Volvo
BMW

<h3>Ajout d'éléments de tableau</h3>

- Vous pouvez utiliser la **append()** méthode pour ajouter un élément à un tableau.

<h5><font color="green"> Exemple</font></h5>
Ajoutez un élément supplémentaire au carstableau :

In [6]:
cars.append("Honda")

<h3>Suppression d'éléments de tableau</h3>

- Vous pouvez utiliser la **pop()** méthode pour supprimer un élément du tableau.
- Vous pouvez également utiliser la **remove()** méthode pour supprimer un élément du tableau.

In [ ]:
cars.pop(1) # Supprimez le deuxième élément du cars tableau
cars.remove("Volvo") # Supprimez l'élément qui a la valeur "Volvo"

- **Remarque** : La remove() méthode de la liste supprime uniquement la première occurrence de la valeur spécifiée.

<h3>Méthodes de tableau</h3>


- **append**() : Ajoute un élément en fin de liste<br>
- **clear()** : Supprime tous les éléments de la listet<br>
- **copy()** : Renvoie une copie de la liste<br>
- **count()** : Renvoie le nombre d'éléments avec la valeur spécifiée<br>
- **extend()** : Ajouter les éléments d'une liste (ou de tout itérable), à la fin de la liste actuelle<br>
- **index()** : Renvoie l'indice du premier élément avec la valeur spécifiée<br>
- **insert()** : Ajoute un élément à la position spécifiée<br>
- **pop()** : Supprime l'élément à la position spécifiée<br>
- **remove()** : Supprime le premier élément avec la valeur spécifiée<br>
- **reverse()** : Inverse l'ordre de la liste<br>
- **sort()** : Trie la liste<br>

<h3> <font color="green">Tableaux à 2 dimension </font></h3>

- Pour declarer : **nom_tab = [[valeur ligne 1],[valeur ligne 2],......,[valeur ligne n]]**
<h5><font color="green"> Exemple</font></h5>

In [16]:
tab=[[1,2,3,112],[0,9,2,12],[0,0,1,0]]
#print(tab[1][1])

tab

[[1, 2, 3, 112], [0, 9, 2, 12], [0, 0, 1, 0]]

<h3>parcourir le Tableau :<h3>

In [4]:
for i in tab:
  print(i)

[1, 2, 3, 112]
[0, 9, 2, 12]
[0, 0, 1, 0]

<h3>reverser tableau :</h3>

In [23]:
tab.reverse()
for i in tab:
  print(i)

[0, 0, 1, 0]
[0, 9, 2, 12]
[1, 2, 3, 112]

- **Remarque** : La mémé fonction rester valable pour tableaux a 2 dimension

<h2 ><font color=red> II- Array et Numpy </font></h2>

<h3>importation de bibliothéque Numpy</h3>

In [25]:
import numpy as np #np est un aleas qui fait référence à numpy. il est utiliseé pour simplifier la syntaxe par la suite.

<h5>1. Définition d'un array </h5>

- Il existe généralement plusieurs manières de définir un tableau: à partir d'une liste, d'un tupel

In [32]:
import numpy as np
#création d'un array à partir d'une liste 
A=np.array([1,2,3,4])
print("A= ",A)
#création d'un tableau à partir d'un tuple
B=np.array((5,6,7,8))
print("B= ",B)
#création d'aun tableau en utilisant la fonction arange()
C=np.arange(9)
print("C= ",C)

A=  [1 2 3 4]
B=  [5 6 7 8]
C=  [0 1 2 3 4 5 6 7 8]

- La fonction **arange()** crée une matrice (vecteur) d'une façon analogique à celle dont **range()** crée une liste, à une différence près que les coefficients ne sont pas forcément entiers.

In [30]:
import numpy as np
A=np.arange(0.1,0.8,0.2)#crée un vecteur contanant des floats de 0.1 à 0.8 avec un pas de 0.2
print("A= ",A)

A=  [0.1 0.3 0.5 0.7]

![info.png]()La différence fondamentale entre un array à ue dimension et une liste et qu'un array est considéré comme un vecteur, ce qui va permettre de réaliser certain nombres d'opérations mathématiques. Par exemple:

In [31]:
import numpy as np
X=list(range(5))#crée une liste [0,1,2,3,4]
print("x= ",X)
print("X*2= ",X*2)# X n'est un vecteur alors X*2 ne permet pas de multiplier les éléments de liaste par 2!!!
A=np.array(X)
print("A= ",A)
#A est un vecteur
print("A*2= ",A*2)# A est un vecteur alors A*2 permet de multiplier les éléments de A par 2!!!
print("A+2= ",A+2)# A est un vecteur alors A*2 permet de multiplier les éléments de A par 2!!!
print("X*2= ",A[2]*2)# multiplication du troisième élément de l'array par 2!!!

x=  [0, 1, 2, 3, 4]
X*2=  [0, 1, 2, 3, 4, 0, 1, 2, 3, 4]
A=  [0 1 2 3 4]
A*2=  [0 2 4 6 8]
A+2=  [2 3 4 5 6]
X*2=  4

<h5>array à deux dimension</h5>
Un array à deux dimension est un array de array. C'est-à-dire un array dont les éléments individuel sont des arrays. Par exemple:

In [33]:
#création d'un array à deux dimension
import numpy as np
A=np.array([[1,2,3],[4,5,6]])
print("A= ",A)

A=  [[1 2 3]
 [4 5 6]]

## <font color="green">2.  Indiçage d'un  array: Slicing</font>
* **array à une dimension**

In [36]:
#création d'un array à l'aide de la fonction arange()
import numpy as np
A=np.arange(10,30,2)
print(A)# renvoie [10,12,14,16,18,20,22,24,26,28]
A[0]# renvoie l'élément de l'indice 0 ==>10
A[2]# renvoie l'élément de l'indice 1 ==>12
A[6:]# renvoie tous les éléments à partir de l'élément  de l'indice 6 ==>[22,24,26,28]
A[:6]# renvoie tous les éléments à partir de l'élément de l'indice 0 à l'élément de l'indice 5(indice 6 est exclus!)=> [10 12 14 16 18 20]
A[:]#renvoie tous les éléments du array
A[: :2]# renvoie tous les éléments avec un saut de 2 éléments à chaque fois=>[10 14 18 22 26]

[10 12 14 16 18 20 22 24 26 28]

array([10, 14, 18, 22, 26])

- **array à 2 dimension**

In [39]:
import numpy as np
#création d'un array de deux dimensions
A=np.array([
            [1,2,3,4],
            [5,6,7,8],
            [9,10,11,12]
            ])
print (A)#renvoie un array 3x4
A[0,:]#renvoie tous les éléments de l'array qui a l'indice 0 dans les indices du second niveau (Première ligne)
        #renvoie [1,2,3,4]
A[:,0]#renvoie tous les éléments situés à l'indice 0 dans les arrays du second niveau (Première colonne)
      #renvoie [1 5 9]
A[2,3]#renvoie 12. Equivalent à A[2][3] pour langage C
A[2,4]#renvoie Erreur=> IndexError: index 4 is out of bounds for axis 1 with size 4

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

12

## <font color="green">3.Opérations sur les arrays</font>
Dans cette section nous allons voir quelques fonctions tres utilisées quand on traite les arrays avec Python, à savoir:
* la fonction shape(): renvoie un tuple présentant le type de la matrice (Nbr ligne, Nbr colonnes).
* la fonction **size()**: renvoie le nombre d'éléments
* la fonction **reshape()**: transforme un array vecteur en matrice en endiquant en paramètres le nombre de lignes et de colonnes. Elle nécessite que la dimension de la matrice soit compatible avec le nombre d'éléments contenus dans l'array de départ.
* la fonctions **resize()**: transforme un array vecteur en matrice en endiquant en paramètres le nombre de lignes et de colonnes. Elle ne nécessite pas que la dimension de la matrice soit compatible avec le nombre d'éléments contenus dans l'array de départ.
* la fonction **transpose()**: renvoie la transposé d'un array.
* la fonction **zeros()**: crée un array contenant que de zéros!
* la fonction **ones()**:crée un array rempli que de 1!
* la fonction **dot()**: le produit matriciel!
* la fonction **linalg.inv(x)**:renvoie l'inverse de la matrice x 
* la fonction **linalg.det(x)**:renvoie le déterminant de la matrice x 
* la fonction **linalg.eig(x)**:renvoie un tuple dont le premier élément cerrespond aux valeurs propres et le second aux vecteur propres.
* la fonction **argsort()**: renvoie sous forme d'une liste (ou array) les indices triés du l'array fourni en argument!
* la fonction **np.where(array == val)** Pour rechercher un tableau
* la fonction **np.add(arr1, arr2)** additionne le contenu de deux tableaux et renvoie les résultats dans un nouveau tableau
* la fonction **np.subtract(arr1, arr2)** soustrait les valeurs d'un tableau avec les valeurs d'un autre tableau et renvoie les résultats dans un nouveau tableau.
* la fonction **np.multiply(arr1, arr2)** multiplie les valeurs d'un tableau avec les valeurs d'un autre tableau et renvoie les résultats dans un nouveau tableau.
* la fonction **np.divide(arr1, arr2)** divise les valeurs d'un tableau avec les valeurs d'un autre tableau et renvoie les résultats dans un nouveau tableau

#### <font color="green">Exemple : </font>
soit 2 tableau suivant :

In [3]:
import numpy as np
 
# Création d'une matrice (3, 2)
A = np.array([[1, 2], [3, 4], [5, 6]])
print('A =', A) # afficher la matrice A
 
# afficher les dimensions de A
print('dimensions de A:', A.shape)
 
# Transposée de A
B = A.T
print('B =',B)
print('dimensions de B :', B.shape)
 
 
# Création d'une matrice B remplie de "1"
C = np.ones((3, 2))
 
# addition de A par B
D = A + C
print('C =', C)
print('dimensions de C:', C.shape)
 
 
# mutiplication de A (3, 2) par B (2, 3)
 
E = A.dot(B)
print('E =', E)
print('dimensions de E:',E.shape)

A = [[1 2]
 [3 4]
 [5 6]]
dimensions de A: (3, 2)
B = [[1 3 5]
 [2 4 6]]
dimensions de B : (2, 3)
C = [[1. 1.]
 [1. 1.]
 [1. 1.]]
dimensions de C: (3, 2)
E = [[ 5 11 17]
 [11 25 39]
 [17 39 61]]
dimensions de E: (3, 3)