<img src="pp.png" align ="center" width="900" height="600" /><br>
<h1 align ="center" style = "color:blue"> Numpy </h1>

# Introduction à NumPy

La bibliothèque NumPy permet d’effectuer des calculs numériques avec Python. Elle introduit une gestion facilitée des tableaux de nombres.

Pour utiliser NumPy, vous devez au préalable vous placer dans un environnement qui comprend cette bibliothèque, voir Introduction à Python.

Il faut au départ importer le package numpy avec l’instruction suivante :

In [1]:
import numpy as np

## Variables prédéfinies

Variable pi
NumPy permet d’obtenir la valeur de pi.

In [2]:
np.pi
3.141592653589793

3.141592653589793

## Tableaux - numpy.array()

Création
Les tableaux (en anglais, array) peuvent être créés avec numpy.array(). On utilise des crochets pour délimiter les listes d’éléments dans les tableaux.

In [3]:
a = np.array([1, 2, 3, 4])

Affichage

In [7]:
a

array([1, 2, 3, 4])

In [8]:
type(a)

numpy.ndarray

On voit que l’on a obtenu un objet de type numpy.ndarray.

## Tableau 2D

Il est possible de créer un tableau 2D en utilisant une liste de listes au moyen de crochets imbriqués. Les listes internes correspondent à des lignes du tableau.

In [9]:
b = np.array([[1, 2, 3], [4, 5, 6]])

Affichage

In [10]:
b

array([[1, 2, 3],
       [4, 5, 6]])

In [11]:
type(b)

numpy.ndarray

## Accès aux éléments d’un tableau 2D

On utilise une syntaxe avec deux indices. Le premier indice est l’indice de la ligne du tableau.

In [13]:
b[0,1]

2

In [14]:
b[1,2]

6

## La fonction numpy.arange()

In [22]:
m = np.arange(3, 20, 2)
m

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19])

numpy.arange() accepte des arguments qui ne sont pas entiers.

In [23]:
np.arange(0, 11*np.pi, np.pi)

array([ 0.        ,  3.14159265,  6.28318531,  9.42477796, 12.56637061,
       15.70796327, 18.84955592, 21.99114858, 25.13274123, 28.27433388,
       31.41592654])

## La fonction numpy.linspace()

numpy.linspace() permet d’obtenir un tableau 1D allant d’une valeur de départ à une valeur de fin avec un nombre donné d’éléments.

In [24]:
np.linspace(3, 9, 10)

array([3.        , 3.66666667, 4.33333333, 5.        , 5.66666667,
       6.33333333, 7.        , 7.66666667, 8.33333333, 9.        ])

## Action d’une fonction mathématique sur un tableau

NumPy dispose d’un grand nombre de fonctions mathématiques qui peuvent être appliquées directement à un tableau. Dans ce cas, la fonction est appliquée à chacun des éléments du tableau.

In [26]:
x = np.linspace(-np.pi/2, np.pi/2, 3)
x

array([-1.57079633,  0.        ,  1.57079633])

In [27]:
y = np.sin(x)
y

array([-1.,  0.,  1.])

## La fonction numpy.size()

La fonction numpy.size() renvoie le nombre d’éléments du tableau.

In [28]:
a = np.array([2,5,6,8])
np.size(a)

4

In [29]:
b = np.array([[1, 2, 3],
                  [4, 5, 6]])
np.size(b)

6

## La fonction numpy.shape()

La fonction numpy.shape() (forme, en anglais) renvoie la taille du tableau.

In [32]:
a = np.array([2,5,6,8])
np.shape(a)

(4,)

In [33]:
b = np.array([[1, 2, 3],
                  [4, 5, 6]])
np.shape(b)

(2, 3)

On distingue bien ici que a et b correspondent à des tableaux 1D et 2D, respectivement.

## Produit terme à terme

Il est possible de réaliser un produit terme à terme grâce à l’opérateur *. Il faut dans ce cas que les deux tableaux aient la même taille.

In [34]:
a = np.array([[1, 2, 3],
                  [4, 5, 6]])
b = np.array([[2, 1, 3],
                  [3, 2, 1]])
a*b

array([[ 2,  2,  9],
       [12, 10,  6]])